{% extends "base.html" %}
{% block title %}Главная{% endblock title %}
{% block content %}
<div class="center-container">
  <div class="profile">
    <h1>О приложении</h1>
    <p> <i class="fas fa-user"></i> Распознаватель - распознает показанный в камеру жест</p>
    <p> <i class="fas fa-chalkboard-teacher"></i> Уроки - набор видеоуроков для изучения русского языка жестов</p>
    <p> <i class="fas fa-tasks"></i> Тесты - набор тестов по каждой категории</p>
    <p> <i class="fas fa-user"></i> Профиль - содержит информацию о пройденных уроках и тестах</p>
    <p> Если сеть не распознает жест, попробуйте его показать другой рукой или поменять расстояние до камеры. Представленная нейросеть не гарантирует 100% распознавания и может быть использована в ознакомительных целях</p>
    <p> Для доступа к полному функционалу необходимо зарегистрироваться и авторизоваться!</p>
  </div>
  
</div>
{% endblock content %}
